//variables
$lightgrey:#bcbbbb;
$lightgold:#747704;
$break-small: 320px;
$break-med: 480px;
$break-tab:720px;
$break-lap:1048px;
$width:"min-width";
//css

body{
	@media screen and ($width: $break-small)
	{
		width:320px;
	}
	@media screen and ($width: $break-med)
	{
		width:480px;
	}
	@media screen and ($width: $break-tab)
	{
		width:720px;
	}
	@media screen and ($width: $break-lap)
	{
		width:960px;
	}
	width: 1120px;
	margin: 0px auto;
	
	
	
	
}
.clear{
	clear:both;
}

//actual css

hr{
	background-color:$lightgrey;
	height:2px;
	border:2px;
}
header{
	display:block;
	clear:both;
		.logo{
		display:block;
		float:left;
		width: 100px;
		height: 100px;
		margin:1.5%;
				img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.brand-name{
			display:block;
			float:right;
			font-family: 'Lato', sans-serif;
			color:$lightgold;
			text-align:right;
			text-transform: uppercase;
			margin-top:3%;
			h1{	
				font-size:60px;
				margin:0px;
				font-weight:100;
			}
			h4{
				font-weight:300;
				margin:0px;	
				font-size:26px;
			}
			
		}
}
.slider{
	img{
	width:100%;
	height:100%;
	margin:10px 0px;
	}
}
.appify{
	h2{
		font-family: 'Lato', sans-serif;
		color:$lightgrey;
		text-transform: uppercase;
		font-size:30px;
		margin-top:20px;
		margin-bottom:10px;
		font-weight:300;
	}	
	article{
		@media screen and ($width: $break-small)
			{
				width:100%;
			}
			@media screen and ($width: $break-med)
			{
				width:100%;
			}
			@media screen and ($width: $break-tab)
			{
				width:30%;
			}
			@media screen and ($width: $break-lap)
			{
				width:30%
			}
		display:block;
		float:left;
		width:30%;
		margin:0px 2.5%;
		color:$lightgold;
		
		img{
			width:100%;
		}
		h4{
		text-align:center;
		font-family: 'Lato', sans-serif;
		font-size:20px;
		margin:10px 0px;
		}
		p{
		text-align:center;
		font-family: 'Lato', sans-serif;
		font-size:15px;
		margin:10px 0px;
		}
	}
	article:first-of-type{
		margin-left:0px;
	}
	article:last-of-type{
		margin-right:0px;
	}
}


