/*Declaration */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
$ipad:600px;
$mobile:450px;

/* End Declaration */
a{
	text-decoration: none;
}
.selected-border{
	  border-bottom: solid 4px #ffffff;
}
h1,h2,h3,ul,li,body{
	margin: 0;
	padding: 0;
	border: 0;
  	font: inherit;
  	vertical-align: baseline;
}
body{
	background-color: #FFFDD0;
	width: 100%;
	margin:0 auto;
}
/* Header */
header{
	background-color: #8C92AC;
	max-width: 100%;
	height: 79px;
	padding: 0 1%;
		a{ 
			display: inline-block;
			padding: 1% 0; 
			img{
				display: inline-block;
				width: 50px;
				height: 50px;
				@include border-radius(10px);
			}
			div{
				display: inline-block;
				margin-left: 10px;
				vertical-align: top;
				h2{
					font-size: 1.5em;
  					text-transform: uppercase;
  					letter-spacing: 1px;
  					font-family: "Lato",sans-serif;
  					font-weight: 700;
  					color: white;
				}
				h3{
					letter-spacing: 1px;
  					font-family: "Lato",sans-serif;
  					font-weight: 300;
  					color: white;
				}
				@media screen and (max-width: $ipad)
				{
					display: none;
				}
			}
			@media screen and (max-width: $mobile)
				{
					display: block;
					width: 100%;
					text-align: center;
					padding: 2% 0;
				}
		}
		nav{
			display: inline-block;
			float: right;
			width: auto;
			height: 100%;
			ul{
				font-weight: 400;
				font-size: 1.2em;
				font-family: "Lato",sans-serif;
				color: white;
				li{
					display: inline-block;
					width: auto;
					letter-spacing: 1px;
					a{
						padding: 26px 15px;
						color: white;
					}
				}
			}
			@media screen and (max-width: $mobile)
				{
					display: block;
					width: 100%;
					text-align: center;
				}
		}
	@media screen and (max-width: $mobile)
	{
		 height: 144px;
	}
}
/* End Header */
/* Section i.e Summary */
section.summary{
	
	letter-spacing: 1px;
  	font-family: "Lato",sans-serif;
  	text-align: center;
  	padding: 4em 0;
	h1{
		font-weight: 900;
		font-size: 2em;
		padding-bottom: 0.5em;
	}
	h2{
		font-weight: 300;
		font-size: 1.5em;
	}
	a{
		color: white;
	 	font-weight: 400;
	    font-size: 1.5em;
	    background-color: #8C92AC;
	    padding: 0.6em 2.5em 0.6em 0.5em;
	    display: inline-block;
	    margin-top: 2em;
	    cursor: pointer;
	    position: relative;
	}
	a::after{
		  background-image: url("../images/sprites.png");
  		  background-repeat: no-repeat;
		  pointer-events: none;
		  content: "";
		  position: absolute;
		  top: 50%;
		  right: 0.8em;
		  height: 24px;
		  width: 24px;
		  margin-top: -12px;
	}
	
}
/* End Section i.e Summary */
/* Portfolio */
section.portfolio{
				  margin: 2em auto;
				  width: 80%;
				  letter-spacing: 1px;
				  font-family: "Lato",sans-serif;
					h1{
						font-weight: 900;
						font-size: 1.5em;
						margin-bottom: 0.4em;
					}
					ul{
						display: inline-block;
						width: 100%;
						li{
							display: inline-block;
							width: 31%;
							margin-bottom: 40px;
							a{
								display: block;
								height:270px;
								margin-bottom: 0.4em;
								img{
									width: 100%;
									height: 100%;
								}
							}
							h3{
								font-weight: 400;
								font-size: 14px;
							}
							@media screen and (max-width: $ipad)
							{
								 width: 100%;
								 margin: 10% 2%;
							}
							@media screen and (min-width: $ipad+1) and (max-width: $ipad+250)
							{
								 width: 45%;
								 margin: 0 2%;
								 a{
								 	height:200px;
								 }
							}
						}
						li:nth-child(3n+2){
							margin: 0 2%;
						}


					}
}
/* End Portfolio */