/*Declaration */
/* End Declaration */
a {
  text-decoration: none; }

.selected-border {
  border-bottom: solid 4px #ffffff; }

h1, h2, h3, ul, li, body, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none; }

body {
  background-color: #FFFDD0;
  width: 100%;
  margin: 0 auto;
  font-family: "Lato",sans-serif; }

/* Header */
header {
  background-color: #8C92AC;
  max-width: 100%;
  height: 79px;
  padding: 0 1%; }
  header a {
    display: inline-block;
    padding: 1% 0; }
    header a img {
      display: inline-block;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px; }
    header a div {
      display: inline-block;
      margin-left: 10px;
      vertical-align: top; }
      header a div h2 {
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: white; }
      header a div h3 {
        letter-spacing: 1px;
        font-weight: 300;
        color: white; }
      @media screen and (max-width: 600px) {
        header a div {
          display: none; } }
    @media screen and (max-width: 450px) {
      header a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 2% 0; } }
  header nav {
    display: inline-block;
    float: right;
    width: auto;
    height: 100%; }
    header nav ul {
      font-weight: 400;
      font-size: 1.2em;
      color: white; }
      header nav ul li {
        display: inline-block;
        width: auto;
        letter-spacing: 1px; }
        header nav ul li a {
          padding: 26px 15px;
          color: white; }
    @media screen and (max-width: 450px) {
      header nav {
        display: block;
        width: 100%;
        text-align: center; } }
  @media screen and (max-width: 450px) {
    header {
      height: 144px; } }

/* End Header */
/* Section i.e Summary */
section.summary {
  letter-spacing: 1px;
  text-align: center;
  padding: 4em 0; }
  section.summary h1 {
    font-weight: 900;
    font-size: 2em;
    padding-bottom: 0.5em; }
  section.summary h2 {
    font-weight: 300;
    font-size: 1.5em; }
  section.summary a {
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    background-color: #8C92AC;
    padding: 0.6em 2.5em 0.6em 0.5em;
    display: inline-block;
    margin-top: 2em;
    cursor: pointer;
    position: relative; }
  section.summary a::after {
    background-image: url("../images/sprites.png");
    background-repeat: no-repeat;
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    right: 0.8em;
    height: 24px;
    width: 24px;
    margin-top: -12px; }

/* End Section i.e Summary */
/* Portfolio */
section.portfolio {
  margin: 2em auto;
  width: 80%;
  letter-spacing: 1px; }
  section.portfolio h1 {
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 0.4em; }
  section.portfolio ul {
    display: inline-block;
    width: 100%; }
    section.portfolio ul li {
      display: inline-block;
      width: 31%;
      margin-bottom: 40px; }
      section.portfolio ul li a {
        display: block;
        height: 270px;
        margin-bottom: 0.4em; }
        section.portfolio ul li a img {
          width: 100%;
          height: 100%; }
      section.portfolio ul li h3 {
        font-weight: 400;
        font-size: 14px; }
      @media screen and (max-width: 600px) {
        section.portfolio ul li {
          width: 100%;
          margin: 10% 2%; } }
      @media screen and (min-width: 601px) and (max-width: 850px) {
        section.portfolio ul li {
          width: 45%;
          margin: 0 2%; }
          section.portfolio ul li a {
            height: 200px; } }
    section.portfolio ul li:nth-child(3n+2) {
      margin: 0 2%; }

/* End Portfolio */
/* Footer */
footer {
  background-color: #8C92AC;
  max-width: 100%;
  font-weight: 400;
  color: white; }
  footer .group {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 3em;
    margin-bottom: 30px; }
  footer .link {
    display: inline-block;
    width: 31%; }
  footer .bio span {
    display: block;
    width: 78px;
    height: 78px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
  footer .bio img {
    width: 100%;
    height: 100%;
    border: 2px solid black; }
  footer .bio p {
    display: initial;
    margin-left: 5px;
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1px; }
  footer .social {
    margin: 0 3.1%;
    font-size: 18px;
    letter-spacing: 1px;
    vertical-align: top; }
    footer .social li a {
      color: black; }
    footer .social .ico {
      display: inline-block;
      width: 30px;
      height: 30px;
      font-size: 35px;
      color: black;
      margin-right: 5px; }
    footer .social li:nth-child(3n+2) {
      margin: 10% 0; }
    footer .social li p {
      display: inline-block;
      width: 80%;
      vertical-align: top; }
  footer nav {
    vertical-align: top; }
    footer nav ul li a {
      color: black;
      font-size: 18px;
      letter-spacing: 1px; }
    footer nav ul li:nth-child(3n+2) {
      margin: 10% 0; }
  footer .copyright {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 20px; }

/* End Footer */
/*About Page Section*/
section.abouthead {
  letter-spacing: 1px;
  text-align: left;
  padding: 4em 4.5em;
  padding-bottom: 0em; }
  section.abouthead h1 {
    font-weight: 900;
    font-size: 2em; }
  section.abouthead h2 {
    font-weight: 300;
    font-size: 1.5em; }

.desc section {
  display: inline-block;
  width: 58%;
  padding: 4em 4.5em;
  letter-spacing: 1px; }
  .desc section h2 {
    font-weight: 900;
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 20px; }
  .desc section p {
    font-weight: 300;
    font-size: 1.2em;
    padding: 10px 0px; }
  .desc section .logos {
    margin-top: 10px; }
    .desc section .logos .logs {
      display: inline-block;
      max-width: 25%; }
      .desc section .logos .logs strong {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px 0px; }
    .desc section .logos .logs:nth-child(3n+2) {
      margin: 0 5%; }
.desc aside {
  display: inline-block;
  width: 30%; }

/*End About Page Section*/
/*Contact Page Section*/
.contact-input {
  width: 100%;
  padding: .6em;
  margin-top: 5px;
  border: 1px solid #8C92AC;
  font-size: .8em; }

label {
  font-weight: 400; }

textarea {
  height: 30%; }

.group-input:before, .group-input:after {
  content: "";
  display: table; }

.group-input:after {
  clear: both; }

.group-input p {
  width: 45%;
  float: left; }

.group-input p:nth-child(3n+2) {
  margin-left: 10%; }

.send {
  color: white;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #8C92AC;
  padding: 0.3em 2.5em 0.5em 0.5em;
  display: inline-block;
  margin-top: 1em;
  cursor: pointer;
  position: relative; }

.send::after {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  right: 0.8em;
  height: 24px;
  width: 24px;
  margin-top: -12px; }

/*End Contact Page Section*/

/*# sourceMappingURL=main.css.map */
