<div id="header" class="container">
	<div class="glyphicon glyphicon-plus iconColor" ng-click="screentoaddTask()"></div>
</div>
<div class="info">
	<span>
		<button class="btn btn-info">All</button>
		<button class="btn btn-info">Active</button>
		<button class="btn btn-info">Completed</button>
	</span>
</div>
<div class="stuff-to-show" ng-show="addTaskScreen" >
	<input type="text" ng-model="taskdata"/>
	<button class="btn btn-success" ng-click="addTask()">Submit</button>
	<button class="btn btn-danger" ng-click="cancelTask()">Cancel</button>
</div>
<div ng-show="displayList">
	<ul ng-repeat="tasks in tasklist" class="list-group">
		<li><input type="checkbox" ng-model="completed"class="list-group-items">{{tasks}}</li>
	</ul>
</div>