<html>
<head>
  <title>Jimit Patel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="../assets/js/jquery-1.11.2.min.js"></script>
</head>
<body>
  <header>
    <a href="index.html">
      <img src="../assets/images/lion.jpg">
      <div>
        <h2>Jimit Patel</h2>
        <h3>Front End Developer</h3>
      </div>
    </a>
    <nav>
      <ul>
        <li><a href="#" class="selected-border">ABOUT</a></li>
        <li><a href="index.html">PORTFOLIO</a></li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </nav>
  </header>
  <section class="abouthead">
    <h1>About Jimit Patel</h1>
    <h2>Front End Developer</h2>
  </section>
  <div class="desc">
    <section>
      <h2>Skills</h2>
      <p>A graduate of Computer Science, Jimit combines his education with <strong>1 year</strong> commercial experience in CSS3, HTML5, JavaScript, and design to produce creative and effective websites for happy clients over the world.</p>
      <p>I am able to work on a project with the full scope in mind. Clients find this approach to be extremely valuable as I am able to easily integrate with and provide experience and advice on all aspects of a project.</p>
      <h2>Front End Development</h2>
      <div class="logos">
        <div class="logs">
          <img src="../assets/images/css3.png">
          <strong>CSS3</strong>
        </div>
        <div class="logs">
          <img src="../assets/images/html5.png">
          <strong>HTML5</strong>
        </div>
        <div class="logs">
          <img src="../assets/images/js.png">
          <strong>JavaScript</strong>
        </div>
      </div>
      <p>I create websites that allow the user to experience your website in the best and most appropriate way suited to the device they are using. By working using <strong>progressive enhancement</strong>, a website is delivered with a <strong>responsive layout</strong> that can best make use of the space available on the smallest to largest devices. <strong>Cross browser</strong> compatibility is ensured by using feature detection so older browsers still in use today provide a solid experience, whilst modern browsers can go the next step and enhance the users time spent on your site.</p>
      <p>Writing <strong>semantic markup</strong> that is documented and easy to read means it can be maintained and scaled in the future, and allows co-workers to quickly pick it up.</p>
      <h2>Other Skills</h2>
      <div class="logos">
        <div class="logs">
          <img src="../assets/images/jquery-small.png">
          <strong>JQuery</strong>
        </div>
        <div class="logs">
          <img src="../assets/images/sass-small.png">
          <strong>SASS</strong>
        </div>
        <div class="logs">
          <img src="../assets/images/git-small.png">
          <strong>GIT</strong>
        </div>
      </div>
      <p>For many projects I rely on tools and open-source libraries such as jQuery, SASS, Git, and Modernizr.</p>
    </section>
    <aside></aside>
  </div>
  <footer>
    <div class="group">
      <div class="bio link">
        <span>
          <img src="../assets/images/lion.jpg">
        </span>
        <p>A graduate of Computer Science, Jimit combines his education with 1 year commercial experience in CSS3, HTML5, JavaScript, WordPress, and design to produce creative and effective websites for happy clients over the world.</p>
      </div>
      <ul class="social link">
        <li>
          <a href="http://jimitpatel9.github.io./" class="ico"><i class="fa fa-github-square"></i></a>
          <p> View <a href="http://jimitpatel9.github.io./">@JimitPatel</a> on GitHub for open-source projects.</p>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/pateljimit" class="ico"><i class="fa fa-linkedin-square"></i></a>
          <p>View Linkedin profile <a href="https://www.linkedin.com/in/pateljimit">@JimitPatel</a></p>
        </li>
        <li>
          <a href="https://twitter.com/JIMITPATEL99" class="ico"><i class="fa fa-twitter-square"></i></a>
          <p>Follow <a href="https://twitter.com/JIMITPATEL99">@JimitPatel</a> for web design & development articles, opinions and links</p>
        </li>
      </ul>
      <nav class="link">
        <ul>
          <li><a href="about.html">ABOUT</a><p>Learn about Jimit skills and philosophy</p></li>
          <li><a href="index.html">PORTFOLIO</a><p>View Jimit front end development work</p></li>
          <li><a href="contact.html">CONTACT</a><p>Send a message or project request to Jimit</p></li>
        </ul>
      </nav>
    </div>
    <p class="copyright">Unless otherwise stated, content is copyright © 2015 Jimit Patel and code samples are licensed.</p>
  </footer>
</body>
</html>