<div class="login">
	<span class="logo" ui-sref="login"><img ng-src="images/logo.jpg"></span>
	<form>
		<div ng-show="error">{{error}}</div>
		<alert type="{{alert.type}}" close="closeAlert()" ng-show="alert">{{alert}}</alert>
		<p>
			<input ng-model="username" type="text" placeholder="Username" required/>
		</p>
		<p>
			<input ng-model="password" type="password" placeholder="Password" required/>
		</p>
		<div>
			<button class="btn btn-info" ng-click="validateLogin()" ui-sref="displayProducts({username:username})">Login</button>
			<button class="btn btn-info" ng-click="signupform()" ui-sref=
			"userdetail">Sign-Up</button>
		</div>
	</form>
</div>