<div class="login">
	<span class="logo"><img ng-src="images/logo.jpg"></span>
	<form>
	<p>
		<input ng-model="username" type="text" placeholder="Username" required/>
	</p>
	<p>
		<input ng-model="password" type="password" placeholder="Password" required/>
	</p>
	<p>
		<input ng-model="email" type="email" placeholder="user@domain" required/>
	</p>
	<div>
		<button class="btn btn-info" ng-click="storedata()">Submit</button>
		<button class="btn btn-info" href="#/logins">Cancel</button>
	</div>
	</form>
</div>