<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>AngularJs</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
	<body ng-controller="mainCtrl" class="container">
		<h1>Modal Directive</h1>
		<a ng-click="openModal()">Click here</a>
		
		<modal open="modalOpen" options="{top:35,height:300}" on-close="modalClosed(response)">
			<div class="panel panel-primay">
				<div class="panel-heading">Are you sure?</div>
				<div class="panel-body">
					<div class="btn btn-success" ng-click="close('yes')">Yes</div>
					<div class="btn btn-success" ng-click="close('no')">No</div>
				</div>
			</div>
		</modal>





		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/angular/angular.js"></script>
		<script src="js/angular/angular-route.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/app/app.js"></script>
		<script src="js/routers/mainRoute.js"></script>
		<script src="js/services/mainService.js"></script>
		<script src="js/directives/modal.js"></script>
		<script src="js/controllers/mainCtrl.js"></script>
	</body>
</html>