<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>AngularJs</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
	<body ng-controller="mainCtrl" class="container">
		<h1>Number of items in each box</h1>
		<div my-lazy-render="showit">
			<div ng-repeat="item in items">
				{{item}}
			</div>
		</div>
		<button ng-click="showit = true" class="btn btn-primay">Render Content</button>
		
		





		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/angular/angular.js"></script>
		<script src="js/angular/angular-route.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/app/app.js"></script>
		<!-- <script src="js/routers/mainRoute.js"></script>
		<script src="js/services/mainService.js"></script> -->
		<script src="js/controllers/mainCtrl.js"></script>
		<script src="js/directives/myLazyRender.js"></script>
		
		
	</body>
</html>