/*Mixins*/
/*End Mixins*/
/*Variables*/
/*End Variables*/

/*General Classess*/
.clear{
	clear: both;
}
/*End General Classess*/
body{
	background-color: #0B0B48;
	width: 420px;
	margin: 0 auto;
}
.login{
	p{
		text-align: center;
		input[type=text],input[type=password],input{
			padding-left: 10px;
			color: black;
			width: 80%;
			height: 40px;
		}
	}
	div{
		text-align: center;
		button{
			width: 100px;
			margin-left: 10px;
		}
		color:red;
		margin:5px;
	}
}
.logo{
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
	img{
		width: 100%;
	}

}
.header{
	color: white;
	p{
		margin-left: 30px;
	}
}
.itemList{
	display: block;
	width: 100%;
	padding: 0px;
	height: auto;
	li{
		display: block;
		float: left;
		width: 150px;
		margin-left: 30px;
		color: white;
		padding: 5px;
		margin-top: 30px;
		border: 1px solid #5bc0de;
		img{
			width: 100%;
		}
		input[type=number]{
			color: black;
			width: 50px;
			margin: 10px;
			padding: 0px 5px;

		}
		text-align:center;
	}
	clear:both;
}
.orderlist{
	th{
		width: 33%;
		height: 100%;
		text-align: center;
		span{
			margin: 0 auto;
			display: block;
			width: 40px;
			img{
				width: 100%;
			}
		}
	}
	button{
		width: 100%;
		margin-top: 20px;
	}
}